@tailwind base;
@tailwind components;
@tailwind utilities;

.hsb {
   -ms-overflow-style: none;
   scrollbar-width: none;
}
.hsb::-webkit-scrollbar {
   display: none;
}

.animate-delay-1000 {
   animation-delay: 1s;
}
.animate-delay-2000 {
   animation-delay: 2s;
}
.animate-delay-3000 {
   animation-delay: 3s;
}
.animate-delay-4000 {
   animation-delay: 4s;
}
