@tailwind base;
@tailwind components;
@tailwind utilities;

.hsb {
   -ms-overflow-style: none;
   scrollbar-width: none;
}
.hsb::-webkit-scrollbar {
   display: none;
}

.squareA {
   box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
   border: 1px solid rgba(255, 255, 255, 0.5);
   border-right: 1px solid rgba(255, 255, 255, 0.2);
   border-bottom: 1px solid rgba(255, 255, 255, 0.2);
   background: rgba(255, 255, 255, 0.1);
   animation: animate 10s linear infinite;
}
.squareAA {
   animation-delay: calc(1s * 0);
}
.squareAB {
   animation-delay: calc(1s * 1);
}
.squareAC {
   animation-delay: calc(1s * 2);
}
.squareAD {
   animation-delay: calc(1s * 3);
}
.squareAE {
   animation-delay: calc(1s * 4);
}
@keyframes animate {
   0%,
   100% {
      transform: translateY(0px);
   }
   50% {
      transform: translateY(80px);
   }
}